/*-----------------------  底部  -------------------------*/
.footer{ width:auto; height:71px; background:#e8e7e5;}
.footer a:hover{ color:#930;}
.linkbg{ width:auto; height:190px; border-top:1px solid #e7e7e7; border-bottom:1px solid #e7e7e7; background:#f8f8f8; margin-bottom:2px;}
.footer-con{ margin:0 auto; width:1050px; padding-top:20px; padding-left:45}
.min-nav{ float:left;}
.min-nav a, .link a, .partner a{ color:#666666;}
.min-nav dl{ float:left; text-align:left; margin-right:10px;}
.min-nav dt a{ padding-left:60px;}
.min-nav dd a{ margin-left:60px; padding-left:10px; background:url(../../images/shop/sanjiao.jpg) left center no-repeat; line-height:20px;}
.xinshou a, .peisong a, .shouhou a, .help a{ font-size:14px; line-height:30px;}
.xinshou{ height:40px; background:url(../../images/shop/min_navbg_01.jpg) left center no-repeat;}
.peisong{ height:40px; background:url(../../images/shop/min_navbg_02.jpg) left center no-repeat;}
.shouhou{ height:40px; background:url(../../images/shop/min_navbg_03.jpg) left center no-repeat;}
.help{ height:40px; background:url(../../images/shop/min_navbg_04.jpg) left center no-repeat;}

.partner{ float:left; width:188px; height:130px; margin-left:38px; border-left:1px solid #ccc; text-align:left;}
.partner a{ line-height:30px;}
.partner dt a{ font-size:14px; margin-left:14px;}
.partner dd a{ margin-left:14px;}
.partner .nh a{ padding-left:20px; background:url(../../images/shop/partner_abg_01.jpg) left center no-repeat;}
.partner .pn a{ margin-left:38px; padding-left:20px; background:url(../../images/shop/partner_abg_02.jpg) left center no-repeat;}
.partner .yyt a{ padding-left:20px; background:url(../../images/shop/partner_abg_03.jpg) left center no-repeat;}
.partner .jfx a{ margin-left:26px; padding-left:20px; background:url(../../images/shop/partner_abg_04.jpg) left center no-repeat;}
.partner .gh a{ padding-left:20px; background:url(../../images/shop/partner_abg_05.jpg) left center no-repeat;}
.partner .al a{ margin-left:40px; padding-left:20px; background:url(../../images/shop/partner_abg_06.jpg) left center no-repeat;}

.link{ float:right; width:100px; height:130px; border-left:1px solid #ccc; margin-right:40px;}
.link a{ line-height:32px;}
.link dt{ text-align:left;}
.link dt a{ font-size:14px; margin-left:8px;}
.link .lx a{ padding-left:20px; background:url(../../images/shop/link_abg_03.jpg) left center no-repeat;}
.link .jd a{ padding-left:20px; background:url(../../images/shop/link_abg_06.jpg) left center no-repeat;}
.link .kg a{ padding-left:20px; background:url(../../images/shop/link_abg_08.jpg) left center no-repeat;}
.copyright{ height:68px; line-height:20px; padding-top:20px; overflow:hidden; background:#e8e7e5; color:#100f0d;}
/*-----------------------  底部  -------------------------*/
.min-nav dd a {margin-left: 50px;}